.full_height {
    height: 100%;
}

body {
    margin: 0;
    margin-block:initial;
}

header {
    background-color: rgb(238, 136, 190);
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0;
}

h1 {
    margin: 0;
}

.nav_primary {
    background-color: aqua;
    text-align: center;
    width: 25%;
}

.side_account {
    background-color: rgb(182, 255, 109);
    margin: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.side_tab {
    background-color: chartreuse;
    margin: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

h2 {
    font-size: 1.2vw;
}

.main-content {
    background-color: coral;
    width: 50%;
}

.form {
    background-color: cornflowerblue;
    position: fixed;
    bottom: 0;
    width: 50%;
}

main {
    display: flex;
}